button {
  border: none;
  color: white;
  padding: 0 11px;
  margin-right: 10px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #c3ded9;
  color: black;
}

.reset-chat-button {
  background-color: #e53935;
}

.reset-chat-button:hover {
  background-color: #c3ded9;
  color: black;
}

button[type="reset"] {
  background-color: #f0e3e2;
}

button[type="reset"]:hover {
  background-color: #c8b6b6;
}

.feature-active,
.feature-active input,
.feature-active form,
.feature-active button {
  height: 0;
  padding: 0;
  opacity: 0;
}
