button {
    border: none;
    color: white;
    padding: 0 11px;
    margin-right: 10px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c3ded9;
}


button[type="reset"] {
    background-color: #f0e3e2;
}

button[type="reset"]:hover {
    background-color: #c8b6b6; 
}