.App {
  text-align: center;
  background-color: #301934;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  margin-left: 50px;
  transition: margin-left 0.5s ease-out;
  flex-direction: column;
}

.right-content.shifted {
  margin-left: 250px;
}

.chatbot-query-container {
  background-color: #b49cb94b;
  position: relative;
  width: 70%;
  height: 7%;
  bottom: 5%;
  left: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

.chatbot-query-container.shifted {
  width: calc(100% - 200px);
  left: 20px;
}

.chat-input-form {
  display: flex;
  flex: 1;
}

.chat-input {
  flex: 1;
  background-color: transparent;
  height: 40px;
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  color: white;
  font-size: medium;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

.chat-input::placeholder {
  color: #a8a8b3;
}

.send-button {
  background-color: #695669;
  border: none;
  color: white;
  padding: 0 11px;
  margin-right: 10px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #71727f;
}

.chatbot-footer {
  position: fixed;
  bottom: 1%;
  left: 50px;
  right: 0;
  width: calc(100% - 50px);
  height: 3%;
  font-size: small;
  color: white;
  text-align: center;
}

.chatbot-footer.shifted {
  left: 250px;
  width: calc(100% - 250px);
}

.small-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: black;
  z-index: 1001;
  color: white;
}

.small-menu-container.expanded-settings {
  width: 250px;
}

.small-menu-container.expanded-history {
  width: 250px;
}

.history-toggle-button {
  align-self: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 8px;
  padding: 10px 13px;
  transition: transform 0.3s ease;
}

.settings-toggle-button {
  background-color: transparent;
  margin-top: 20px;
  margin-left: 8px;
}

.summary-feature-button {
  background-color: transparent;
  margin-top: 20px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.book-recommender-feature-button {
  background-color: transparent;
  margin-top: 20px;
  margin-left: 8px;
}

.quiz-me-feature-button {
  background-color: transparent;
  margin-top: 20px;
  margin-left: 8px;
}

.settings-toggle-button.expanded-settings {
  transform: scale(1.3);
  background-color: #ffffff44;
  border-radius: 50%;
}

.history-toggle-button.expanded-history {
  transform: scale(1.3);
  background-color: #ffffff44;
  border-radius: 50%;
}

.large-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #b49cb94b;
  color: white;
  overflow: hidden;
  z-index: 1000;
  transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.large-menu.expanded-history {
  width: 250px;
  opacity: 1;
  visibility: visible;
}

.large-menu ul {
  margin-top: 60px;
  margin-left: 10px;
  list-style: none;
  opacity: 0;
}

.large-menu.expanded-history ul {
  list-style: none;
  opacity: 1;
  transition: opacity 0.8s;
}

.large-menu li {
  margin: 15px 0;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #301934;
  color: white;
}

.auth-container {
  padding: 20px;
  background-color: #100f0f;
  border-radius: 8px;
}

.auth-container input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 200px;
}

.auth-container button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #95689d;
  border: none;
  color: white;
  cursor: pointer;
}

.auth-page button {
  margin-top: 10px;
  background: none;
  color: #95689d;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.header {
  flex: 0.3 1;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #301934;
  color: white;
  position: relative;
  width: 100%;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.id-container {
  position: absolute;
  right: 20px;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #695669;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 40px;
  margin-top: 5px;
}

.chat-box-interaction-container {
  flex: 1;
  width: 70%;
  margin-left: 100px;
  color: white;
  background-color: rgba(255, 255, 255, 0.117);
  position: relative;
  bottom: 10%;
  border-radius: 30px;
  box-shadow: #18181847 1px;
  overflow-y: scroll;
}
.chat-box-interaction-container.shifted {
  transition: margin-left 0.5s ease-out;
  margin-left: 0px;
}

.chat-box-interaction-container.active-feature,
.chat-box-interaction-container.active-feature p {
  opacity: 0;
  height: 0;
}

.summary-feature-button.summary-feature-active {
  transform: scale(1.3);
  background-color: #ffffff44;
  border-radius: 50%;
}
